/**** BASE STYLES **********************/
/*--------------------------------------------------------------
1.0 Typefaces and Decoration 
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", serif; }

p, li, a {
  font-family: "Lato", san-serif;
  line-height: 2.5em; }

li {
  list-style: none; }

h1 {
  margin-bottom: 1em; }

p:first-child {
  margin-top: 4em; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/*--------------------------------------------------------------
2.0 Design
--------------------------------------------------------------*/
body #primary {
  background: #eeeeee; }
body .separator {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 100%; }
body .body-inner {
  background-color: white; }
body .container-fluid {
  max-width: 1600px; }

/**** LAYOUT STYLES *****************/
header nav h2 {
  font-size: 1.5em;
  text-transform: uppercase; }
header .navbar-container {
  background-color: rgba(5, 5, 5, 0.9);
  height: 5em;
  transition: all 0.7s ease-in; }
  header .navbar-container ul li {
    font-size: 1.2em;
    margin-top: .5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    transition: all 0.2s ease-in; }
    header .navbar-container ul li a {
      color: white;
      border-radius: 5px;
      transition: all 0.7s ease-in; }
    header .navbar-container ul li a:hover,
    header .navbar-container ul li a:focus {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.9);
      color: #1a1a1a;
      border-radius: 5px;
      transition: all 0.1s ease-in; }
  header .navbar-container ul li.current-menu-item {
    /* Place an underline under active menu */ }
    header .navbar-container ul li.current-menu-item a:after {
      content: "";
      background: white;
      position: absolute;
      bottom: 0;
      left: 15%;
      height: 2px;
      width: 70%;
      transition: all 0.7s ease-in; }
  header .navbar-container h2 {
    font-family: "Oswald";
    font-style: 1.9em;
    color: white;
    margin-top: .5em;
    transition: all 0.7s ease-in; }
header .navbar-container.opaque-thin {
  background-color: #fafafa;
  height: 3.5em;
  border-bottom: 1px solid black;
  transition: all 0.7s ease-in; }
  header .navbar-container.opaque-thin ul li {
    margin-top: 0.1em;
    color: black;
    transition: all 0.7s ease-in; }
    header .navbar-container.opaque-thin ul li a {
      color: #1a1a1a;
      height: 2.5em;
      padding-top: 0.7em;
      transition: all 0.7s ease-in; }
    header .navbar-container.opaque-thin ul li a:hover,
    header .navbar-container.opaque-thin ul li a:focus {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      border-radius: 5px;
      transition: all 0.1s ease-in; }
  header .navbar-container.opaque-thin ul li.current-menu-item {
    /* Place an underline under active menu */ }
    header .navbar-container.opaque-thin ul li.current-menu-item a:after {
      content: "";
      background: #1a1a1a;
      position: absolute;
      bottom: 10%;
      left: 15%;
      height: 2px;
      width: 70%;
      transition: all 0.7s ease-in; }
  header .navbar-container.opaque-thin h2 {
    color: #1a1a1a;
    transition: all 0.7s ease-in;
    margin-top: 0em; }
header .navbar {
  margin-bottom: 0;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  /*Put Brand in the center*/ }
  header .navbar .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto; }

/*--------------------------------------------------------------
Front Page Header
--------------------------------------------------------------*/
.front-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/book-on-desk.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
  .front-page .background-container .blurb {
    text-align: center;
    background: rgba(238, 238, 238, 0.8);
    color: #111111; }
.front-page .page-header {
  border-bottom: none;
  border-top: none; }
  .front-page .page-header h1, .front-page .page-header h2, .front-page .page-header h3, .front-page .page-header h4, .front-page .page-header h5, .front-page .page-header h6 {
    color: #eeeeee; }
.front-page .page-header-top {
  background-color: black;
  margin-bottom: 0; }
  .front-page .page-header-top .page-inner {
    background-color: #0f0f0f; }
.front-page .page-header-bottom {
  background-color: #111111;
  margin-top: 0; }
  .front-page .page-header-bottom .page-inner {
    background-color: #202020; }

/*--------------------------------------------------------------
Front Page Introduction
--------------------------------------------------------------*/
.introduction-module {
  background-color: white; }
  .introduction-module p, .introduction-module h2, .introduction-module h3 {
    text-align: center; }
  .introduction-module img {
    padding: 2em; }
  .introduction-module p {
    padding: 2em; }

/*--------------------------------------------------------------
Front Page News
--------------------------------------------------------------*/
.news-module {
  background-color: #a64b00; }
  .news-module p, .news-module li, .news-module a, .news-module h1, .news-module h2, .news-module h3, .news-module h4, .news-module h5, .news-module h6 {
    color: white; }
  .news-module .row {
    background-color: #ff9640; }
  .news-module .news-section {
    background-color: #ff9640; }
    .news-module .news-section .item {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      background-color: #ff7400; }
      .news-module .news-section .item img {
        opacity: .8; }
      .news-module .news-section .item h3 {
        text-align: justify;
        font-size: 1.4em; }
      .news-module .news-section .item h6 {
        text-align: right; }
    .news-module .news-section .item.item-topstory h3 {
      font-size: 1.8em;
      text-align: justify; }
    .news-module .news-section .item.item-bottom {
      background-color: white; }
      .news-module .news-section .item.item-bottom p, .news-module .news-section .item.item-bottom li, .news-module .news-section .item.item-bottom a, .news-module .news-section .item.item-bottom h1, .news-module .news-section .item.item-bottom h2, .news-module .news-section .item.item-bottom h3, .news-module .news-section .item.item-bottom h4, .news-module .news-section .item.item-bottom h5, .news-module .news-section .item.item-bottom h6 {
        color: #434343; }
    .news-module .news-section .item.hovered img {
      opacity: 1.0; }
    .news-module .news-section .item.hovered p, .news-module .news-section .item.hovered li, .news-module .news-section .item.hovered a, .news-module .news-section .item.hovered h1, .news-module .news-section .item.hovered h2, .news-module .news-section .item.hovered h3, .news-module .news-section .item.hovered h4, .news-module .news-section .item.hovered h5, .news-module .news-section .item.hovered h6 {
      color: #dddddd; }
    .news-module .news-section .item.item-bottom.hovered p, .news-module .news-section .item.item-bottom.hovered li, .news-module .news-section .item.item-bottom.hovered a, .news-module .news-section .item.item-bottom.hovered h1, .news-module .news-section .item.item-bottom.hovered h2, .news-module .news-section .item.item-bottom.hovered h3, .news-module .news-section .item.item-bottom.hovered h4, .news-module .news-section .item.item-bottom.hovered h5, .news-module .news-section .item.item-bottom.hovered h6 {
      color: black; }
  .news-module .twitter-section {
    background-color: #dddddd; }
    .news-module .twitter-section h1 {
      color: #1a1a1a;
      text-align: center; }
    .news-module .twitter-section h2 {
      color: white;
      text-align: center; }
    .news-module .twitter-section .coming-up {
      background-color: #1a1a1a; }

/*--------------------------------------------------------------
Front Page Music Module
--------------------------------------------------------------*/
.music-module {
  background-color: #a61d00;
  color: white; }
  .music-module h1, .music-module h2, .music-module h3, .music-module h4, .music-module h5, .music-module h6 {
    font-family: "Oswald"; }
  .music-module p, .music-module a {
    font-family: "Lato"; }
  .music-module .medium-background-color {
    background-color: #bf4930; }
  .music-module .dark-text {
    color: #a61d00; }
  .music-module .light-text {
    color: white; }
  .music-module .music-module-header {
    background-color: #e33c19;
    height: 8em; }
    .music-module .music-module-header h1 {
      margin-top: 1em; }
    .music-module .music-module-header h3 {
      margin-top: 2em;
      color: #1a1a1a; }
  .music-module .music-module-icon {
    background-color: white;
    height: 5em; }
  .music-module .music-module-byline {
    background-color: #a61d00;
    height: 5em; }
  .music-module .music-module-blurb {
    background-color: #ff2c00;
    height: 20em; }
    .music-module .music-module-blurb h2 {
      margin-bottom: 1em; }
  .music-module .music-module-upcoming-event-maxi {
    height: 25em;
    display: block;
    position: relative; }
    .music-module .music-module-upcoming-event-maxi h1, .music-module .music-module-upcoming-event-maxi h5 {
      text-align: center; }
    .music-module .music-module-upcoming-event-maxi h1 {
      margin-top: 1em;
      font-size: 6em; }
  .music-module .music-module-upcoming-event-maxi::after {
    content: "";
    background-image: url("../images/u2-band.jpg");
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 5; }
  .music-module .music-module-upcoming-event-maxi:hover::after {
    opacity: 0.7;
    -webkit-transition: opacity 1.0s ease-in-in-out;
    -moz-transition: opacity 1.0s ease-in-in-out;
    transition: opacity 1.0s ease-in-in-out; }
  .music-module .music-module-upcoming-banner {
    background-color: #434343;
    height: 8em; }
    .music-module .music-module-upcoming-banner h2 {
      margin-top: 1.2em; }
  .music-module .music-module-upcoming-event-mini {
    height: 8em;
    max-height: 8em;
    overflow: hidden; }
    .music-module .music-module-upcoming-event-mini h3 {
      margin-top: .5em; }
    .music-module .music-module-upcoming-event-mini .unit {
      height: 8em; }
    .music-module .music-module-upcoming-event-mini .unit::after {
      content: "MORE";
      font-size: 1.5em;
      font-family: "Oswald";
      padding: .4em .1em 0 .4em;
      position: absolute;
      background-color: #1a1a1a;
      bottom: 0;
      right: 0; }
    .music-module .music-module-upcoming-event-mini .unit.unit-2 h4,
    .music-module .music-module-upcoming-event-mini .unit.unit-3 h4 {
      margin-top: .8em; }

/*--------------------------------------------------------------
Front Page Food Module
--------------------------------------------------------------*/
.food-module {
  background-color: white; }
  .food-module .module-header {
    background-color: #bf8830; }

/*--------------------------------------------------------------
Events Page
--------------------------------------------------------------*/
.events-page .blurb {
  background-color: rgba(255, 255, 255, 0.6); }
.events-page .column-filter {
  margin-top: 5em; }
  .events-page .column-filter .btn-primary {
    background-color: #a61d00;
    border-color: #971a00; }
.events-page .board {
  height: 100%; }
  .events-page .board h3, .events-page .board h4 {
    padding: 1em; }
  .events-page .board h4 {
    margin-top: 0; }
.events-page .board-block {
  background-color: #171717;
  color: white; }
.events-page .right-board {
  background-color: #171717;
  color: white; }
.events-page .left-board {
  background-color: #a61d00;
  color: white; }
.events-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/tools.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
.events-page .page-header {
  border-bottom: none;
  border-top: none; }
  .events-page .page-header h1, .events-page .page-header h2, .events-page .page-header h3, .events-page .page-header h4, .events-page .page-header h5, .events-page .page-header h6 {
    color: white; }
.events-page .page-header-top {
  background-color: #a61d00;
  margin-bottom: 0; }
  .events-page .page-header-top .page-inner {
    background-color: #b52000; }
.events-page .page-header-bottom {
  background-color: #e33c19;
  margin-top: 0; }
  .events-page .page-header-bottom .page-inner {
    background-color: #e74624; }
.events-page .column-main img {
  width: 100%; }
.events-page .column-main .btn-primary {
  background-color: #a61d00;
  border-color: #971a00; }

/*--------------------------------------------------------------
Blog Page
--------------------------------------------------------------*/
.blog-page .blurb {
  background-color: rgba(255, 255, 255, 0.8); }
.blog-page a {
  color: black; }
.blog-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/man-in-coffeeshop-looking-out.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
.blog-page .page-header {
  border-bottom: none;
  border-top: none; }
  .blog-page .page-header h1, .blog-page .page-header h2, .blog-page .page-header h3, .blog-page .page-header h4, .blog-page .page-header h5, .blog-page .page-header h6 {
    color: white; }
.blog-page .page-header-top {
  background-color: #a64b00;
  margin-bottom: 0; }
  .blog-page .page-header-top .page-inner {
    background-color: #b55200; }
.blog-page .page-header-bottom {
  background-color: #ff9640;
  margin-top: 0; }
  .blog-page .page-header-bottom .page-inner {
    background-color: #ff9e4f; }
.blog-page .pagination > .active > a,
.blog-page .pagination > .active > span,
.blog-page .pagination > .active > a:hover,
.blog-page .pagination > .active > span:hover,
.blog-page .pagination > .active > a:focus,
.blog-page .pagination > .active > span:focus {
  background-color: #a64b00;
  border-color: #974400; }
.blog-page .blog-section img.featured-image {
  width: 100%; }
.blog-page .blog-section .blog-item {
  margin-top: 2em; }
  .blog-page .blog-section .blog-item p:first-child {
    margin-top: 0.5em; }

/*--------------------------------------------------------------
Restaurant Page
--------------------------------------------------------------*/
.restaurant-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/food-on-table.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
.restaurant-page .blurb {
  background-color: rgba(255, 255, 255, 0.6); }
.restaurant-page .page-header {
  border-bottom: none;
  border-top: none; }
  .restaurant-page .page-header h1, .restaurant-page .page-header h2, .restaurant-page .page-header h3, .restaurant-page .page-header h4, .restaurant-page .page-header h5, .restaurant-page .page-header h6 {
    color: white; }
.restaurant-page .page-header-top {
  background-color: #bf8830;
  margin-bottom: 0; }
  .restaurant-page .page-header-top .page-inner {
    background-color: #cb9133; }
.restaurant-page .page-header-bottom {
  background-color: #ffb640;
  margin-top: 0; }
  .restaurant-page .page-header-bottom .page-inner {
    background-color: #ffbc4f; }
.restaurant-page .page-body img {
  margin-top: 2em;
  margin-bottom: 2em; }
.restaurant-page .page-body h2 {
  margin-top: 2em;
  text-align: center; }
.restaurant-page .page-body p {
  text-align: center; }

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
.sidebar.sidebar-events .item {
  margin-bottom: .5em; }
.sidebar.sidebar-events > h2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.sidebar.sidebar-blog .item {
  margin-bottom: .5em; }
.sidebar.sidebar-blog > h2 {
  margin-top: 2em;
  margin-bottom: 2em; }

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
  color: #eeeeee;
  padding-bottom: 2em; }
  footer p {
    line-height: .5em; }
  footer .address {
    text-align: center; }
  footer .background-container {
    background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/machines-rust.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
  footer .social-icons {
    text-align: center; }
  footer .page-footer-top {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    width: 100%; }
    footer .page-footer-top .page-inner {
      background-color: rgba(8, 8, 8, 0.6); }
  footer .page-footer-bottom {
    background-color: #111111; }
    footer .page-footer-bottom .page-inner {
      background-color: #191919; }

/*--------------------------------------------------------------
Responsive styles, General
--------------------------------------------------------------*/
footer.site-footer {
  background-color: #171717;
  min-height: 8em; }
