/**** BASE STYLES **********************/
/*--------------------------------------------------------------
1.0 Typefaces and Decoration 
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: inherit; }

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: inherit; }

p, li, a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 2.5em; }

strong h1, strong h2, strong h3, strong h4, strong h5, strong h6 {
  font-weight: 400; }

li {
  list-style: none; }

h1 {
  margin-bottom: 1em; }

p:first-child {
  margin-top: 4em; }

a {
  color: inherit;
  line-height: inherit; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit;
  line-height: inherit; }

.visible-links a {
  font-weight: 700; }
.visible-links a:hover {
  opacity: .7; }

.visible-links-red a {
  color: #bf381b; }

.visible-links-yellow a {
  color: #ff9e00; }

.visible-links-gold a {
  color: #a64b00; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.margin-left-15 {
  margin-left: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/*--------------------------------------------------------------
2.0 Design
--------------------------------------------------------------*/
body #primary {
  background: #f8f8f8; }
body .separator {
  display: block;
  margin: 5em auto; }
body .body-inner {
  background-color: white; }
body .container-fluid {
  max-width: 1600px; }
body .btn-default {
  background-color: #eeeeee;
  border: #eeeeee;
  margin-bottom: 1em; }

/**** LAYOUT STYLES *****************/
header nav h2 {
  font-size: 1.5em;
  text-transform: uppercase; }
header .navbar-container {
  background-color: #111111;
  opacity: 0.9;
  height: 5em;
  transition: all 0.7s ease-in; }
  header .navbar-container ul li {
    font-size: 1.2em;
    margin-top: .5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    transition: all 0.2s ease-in; }
    header .navbar-container ul li a {
      color: white;
      border-radius: 5px;
      transition: all 0.7s ease-in; }
    header .navbar-container ul li a:hover,
    header .navbar-container ul li a:focus {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.9);
      color: #1a1a1a;
      border-radius: 5px;
      transition: all 0.1s ease-in; }
  header .navbar-container ul li.current-menu-item {
    /* Place an underline under active menu */ }
    header .navbar-container ul li.current-menu-item a:after {
      content: "";
      background: white;
      position: absolute;
      bottom: 0;
      left: 15%;
      height: 2px;
      width: 70%;
      transition: all 0.7s ease-in; }
  header .navbar-container h2 {
    font-family: "Oswald";
    font-style: 1.9em;
    color: white;
    margin-top: .5em;
    transition: all 0.7s ease-in; }
header .navbar-container.opaque-thin {
  background-color: #fafafa;
  height: 3.5em;
  border-bottom: 1px solid black;
  transition: all 0.7s ease-in; }
  header .navbar-container.opaque-thin ul li {
    margin-top: 0.1em;
    color: black;
    transition: all 0.7s ease-in; }
    header .navbar-container.opaque-thin ul li a {
      color: #1a1a1a;
      height: 2.5em;
      padding-top: 0.7em;
      transition: all 0.7s ease-in; }
    header .navbar-container.opaque-thin ul li a:hover,
    header .navbar-container.opaque-thin ul li a:focus {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      border-radius: 5px;
      transition: all 0.1s ease-in; }
  header .navbar-container.opaque-thin ul li.current-menu-item {
    /* Place an underline under active menu */ }
    header .navbar-container.opaque-thin ul li.current-menu-item a:after {
      content: "";
      background: #1a1a1a;
      position: absolute;
      bottom: 10%;
      left: 15%;
      height: 2px;
      width: 70%;
      transition: all 0.7s ease-in; }
  header .navbar-container.opaque-thin h2 {
    color: #1a1a1a;
    transition: all 0.7s ease-in;
    margin-top: 0em; }
header .navbar {
  margin-bottom: 0;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  /*Put Brand in the center*/ }
  header .navbar .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto; }

/*---------------
Front Page General
---------------------------------------*/
.module-body-inner {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

.module-header-inner {
  color: #f8f8f8;
  padding-left: 2em; }

/*--------------------------------------------------------------
Front Page Header
--------------------------------------------------------------*/
.front-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/man-playing-banjo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
  .front-page .background-container .blurb {
    text-align: center;
    background: rgba(248, 248, 248, 0.8);
    color: #111111; }
.front-page .page-header {
  border-bottom: none;
  border-top: none; }
  .front-page .page-header h1, .front-page .page-header h2, .front-page .page-header h3, .front-page .page-header h4, .front-page .page-header h5, .front-page .page-header h6 {
    color: #f8f8f8; }
.front-page .page-header-top {
  background-color: black;
  margin-bottom: 0; }
  .front-page .page-header-top .page-inner {
    background-color: #0f0f0f; }
.front-page .page-header-bottom {
  background-color: #111111;
  margin-top: 0; }
  .front-page .page-header-bottom .page-inner {
    background-color: #202020; }

/*--------------------------------------------------------------
Front Page Introduction
--------------------------------------------------------------*/
.introduction-module {
  background-color: white; }
  .introduction-module p, .introduction-module h2, .introduction-module h3 {
    text-align: center; }
  .introduction-module img {
    padding: 2em; }
  .introduction-module p {
    padding: 2em; }

/*--------------------------------------------------------------
Front Page News Module
--------------------------------------------------------------*/
.news-module .module-header {
  background-color: #246979; }
.news-module .module-header-inner {
  background-color: #2a7a8c; }
.news-module .module-body-inner {
  background-color: white; }
.news-module .item {
  margin-bottom: 1em; }
  .news-module .item .item-text p, .news-module .item .item-text a {
    line-height: 1em;
    margin-top: 1em; }
  .news-module .item .item-image-wrapper {
    background-color: #111111; }
  .news-module .item .item-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
.news-module .item:hover .item-image {
  opacity: 0.7; }
.news-module .item.item-1 {
  background-color: #2a7a8c;
  color: #f8f8f8; }
  .news-module .item.item-1 .item-text {
    padding-left: 2em; }
  .news-module .item.item-1 .item-image {
    height: 18em;
    background-position: bottom; }
.news-module .item.item-1:hover {
  background-color: #246979; }
.news-module .item.item-2 {
  background-color: #eeeeee; }
  .news-module .item.item-2 .item-text {
    padding-left: 1em; }
  .news-module .item.item-2 .item-image {
    height: 10em;
    background-position: bottom;
    border-bottom: #2a7a8c 1px solid;
    margin-bottom: -1px; }
.news-module .item.item-2:hover {
  background-color: #d4d4d4; }
.news-module .item.item-3 {
  background-color: #2a7a8c;
  color: #f8f8f8; }
  .news-module .item.item-3 .item-text {
    padding-right: 2em; }
  .news-module .item.item-3 .item-image {
    height: 7em;
    margin-bottom: 0.5em;
    background-position: bottom; }
.news-module .item.item-3:hover {
  background-color: #246979; }
.news-module .item.item-4 {
  background-color: #f8f8f8;
  border-bottom: #2a7a8c 1px solid; }
  .news-module .item.item-4 .item-text {
    padding-left: 1em;
    padding-right: 1em; }
    .news-module .item.item-4 .item-text h4 {
      margin-bottom: 1em; }
    .news-module .item.item-4 .item-text p {
      line-height: 1em;
      margin-top: 0;
      font-weight: 400; }
  .news-module .item.item-4 .item-image {
    height: 12em;
    margin-bottom: 0.5em;
    background-position: bottom; }
.news-module .item.item-4:hover {
  background-color: #dfdfdf; }
.news-module .image-section {
  margin-top: 1em; }
  .news-module .image-section img {
    text-align: center;
    width: 100%; }

/*--------------------------------------------------------------
Front Page Music Module
--------------------------------------------------------------*/
.music-module .module-header {
  background-color: #ba4a30;
  color: #f8f8f8; }
  .music-module .module-header .module-header-inner {
    background-color: #a6422b; }
.music-module .module-body-inner {
  background-color: white; }

/*--------------------------------------------------------------
Front Page Food Module
--------------------------------------------------------------*/
.food-module {
  background-color: white; }
  .food-module .module-header {
    background-color: #bf8830; }

/*-----------------
Secondary page styles General
--------------*/
.secondary-page .blurb {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em; }
  .secondary-page .blurb h2 {
    margin-bottom: 1em; }
  .secondary-page .blurb strong p,
  .secondary-page .blurb p {
    line-height: 1.2em; }
.secondary-page .background-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.secondary-page .page-header h1, .secondary-page .page-header h2, .secondary-page .page-header h3, .secondary-page .page-header h4, .secondary-page .page-header h5, .secondary-page .page-header h6 {
  color: white;
  font-weight: 300; }
.secondary-page .page-header-bottom {
  margin-bottom: 2em; }
  .secondary-page .page-header-bottom h4 {
    font-family: "Lato";
    font-weight: 300; }
.secondary-page .body-inner {
  padding-top: 30px; }

/*--------------------------------------------------------------
Events Page
--------------------------------------------------------------*/
.events-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/headphones.jpg");
  background-position: bottom; }
.events-page .page-header-top {
  background-color: #bf4930;
  margin-bottom: 0; }
  .events-page .page-header-top .page-inner {
    background-color: #cb4e33; }
.events-page .page-header-bottom {
  background-color: #af432b; }
  .events-page .page-header-bottom .page-inner {
    background-color: #bb472e; }
.events-page .column-filter a {
  color: #2b2b2b; }
.events-page .column-filter h3:first-child {
  margin-top: 0;
  margin-bottom: 2em; }
.events-page .column-filter h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.8em; }
.events-page .column-filter .btn-primary {
  background-color: #bf381b;
  border-color: #b23419;
  color: white; }
.events-page .board-wrapper {
  background-color: #111111; }
.events-page .board {
  height: 100%;
  text-decoration: none;
  opacity: 1.0;
  transition: all 0.5s; }
  .events-page .board h3 {
    text-align: center; }
  .events-page .board h3:first-child {
    margin-top: 0; }
  .events-page .board h3, .events-page .board h4 {
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0; }
  .events-page .board img.featured-image {
    width: 100%;
    opacity: 0.9;
    transition: all 0.5s; }
.events-page .board-wrapper:hover img.featured-image {
  opacity: 0.7;
  transition: all 0.5s; }
.events-page .board-wrapper:active img.featured-image {
  opacity: 1.0;
  transition: all 0.5s; }
.events-page .board-block {
  color: white; }
.events-page .board-block-bottom {
  background-color: #333333; }
.events-page .board-block-right {
  background-color: #333333; }
.events-page .board-block-left {
  background-color: #bf4930; }
.events-page .column-main .btn-primary {
  background-color: #bf381b;
  border-color: #b23419;
  color: white; }
.events-page .sidebar-events {
  display: none; }

/*--------------------------------------------------------------
Single Post Event 
--------------------------------------------------------------*/
.single-post .page-inner {
  background-color: white; }

/*--------------------------------------------------------------
News Blog Page 
--------------------------------------------------------------*/
.blog.blog-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/people-on-street-evening.jpg");
  background-position: top; }
.blog.blog-page .page-header-top {
  background-color: #308ba0; }
  .blog.blog-page .page-header-top .page-inner {
    background-color: #369cb4; }
.blog.blog-page .page-header-bottom {
  background-color: #2b7d90; }
  .blog.blog-page .page-header-bottom .page-inner {
    background-color: #308ba0; }
.blog.blog-page .pagination > .active > a,
.blog.blog-page .pagination > .active > span,
.blog.blog-page .pagination > .active > a:hover,
.blog.blog-page .pagination > .active > span:hover,
.blog.blog-page .pagination > .active > a:focus,
.blog.blog-page .pagination > .active > span:focus {
  background-color: #a64b00;
  border-color: #974400; }
.blog.blog-page .blog-section img.featured-image {
  width: 100%; }
.blog.blog-page .blog-section .blog-item {
  margin-top: 2em; }
  .blog.blog-page .blog-section .blog-item p:first-child {
    margin-top: 5em; }
.blog.blog-page .sidebar-blog {
  display: none; }

/*--------------------------------------------------------------
Restaurant Page
--------------------------------------------------------------*/
.restaurant-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/food-on-table.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
.restaurant-page .blurb {
  background-color: rgba(255, 255, 255, 0.6); }
.restaurant-page .page-header {
  border-bottom: none;
  border-top: none; }
  .restaurant-page .page-header h1, .restaurant-page .page-header h2, .restaurant-page .page-header h3, .restaurant-page .page-header h4, .restaurant-page .page-header h5, .restaurant-page .page-header h6 {
    color: white; }
.restaurant-page .page-header-top {
  background-color: #8f33b9;
  margin-bottom: 0; }
  .restaurant-page .page-header-top .page-inner {
    background-color: #8630ad; }
.restaurant-page .page-header-bottom {
  background-color: #772a99;
  margin-top: 0; }
  .restaurant-page .page-header-bottom .page-inner {
    background-color: #672585; }
.restaurant-page .page-body img {
  margin-top: 2em;
  margin-bottom: 2em; }
.restaurant-page .page-body h2 {
  margin-top: 2em;
  text-align: center; }
.restaurant-page .page-body p {
  text-align: center; }

/*--------------------------------------------------------------
Gallery Page
--------------------------------------------------------------*/
.gallery-page .page-header-top {
  background-color: #308ba0; }
  .gallery-page .page-header-top .page-inner {
    background-color: #369cb4; }
.gallery-page .page-header-bottom {
  background-color: #2b7d90; }
  .gallery-page .page-header-bottom .page-inner {
    background-color: #308ba0; }
.gallery-page .flickr .item {
  text-align: center;
  height: 15em;
  position: relative; }
.gallery-page .flickr .item-image {
  max-height: 15em;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  clear: both; }
.gallery-page .flickr .info {
  text-transform: capitalize; }

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
.sidebar .section-header {
  margin-bottom: 1em;
  text-align: center;
  padding-top: 1em; }
.sidebar .section-header:first-child {
  margin-top: 0; }
  .sidebar .section-header:first-child h2:first-child {
    margin-top: 0; }
.sidebar .background-container-sidebar-item {
  background-color: #f8f8f8; }
.sidebar .item {
  margin-bottom: .5em;
  margin-top: 1.5em;
  padding-top: 1em;
  opacity: .9;
  transition: all 0.5s; }
  .sidebar .item img {
    width: 100%; }
  .sidebar .item h4 {
    line-height: 1.8em; }
.sidebar .item:hover {
  opacity: 1.0;
  transition: all 0.5s; }
.sidebar > h2 {
  margin-top: 2em;
  margin-bottom: 2em; }
.sidebar h5 {
  color: black; }

.sidebar.sidebar-events a {
  color: #bf381b; }
.sidebar.sidebar-events .section-header.background-container-sidebar-header {
  background-color: #ffe0d9; }

.sidebar.sidebar-blog a {
  color: #a64b00; }
.sidebar.sidebar-blog .section-header.background-container-sidebar-header {
  background-color: #fff8f3; }

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
  color: #f8f8f8;
  padding-bottom: 2em; }
  footer p {
    line-height: .5em; }
  footer .address {
    text-align: center; }
  footer .background-container {
    background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/beer-with-nuts-and-spectacles.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
  footer .social-icons {
    text-align: center; }
  footer .page-footer-top {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    width: 100%; }
    footer .page-footer-top .page-inner {
      background-color: rgba(8, 8, 8, 0.6); }
  footer .page-footer-bottom {
    background-color: #111111; }
    footer .page-footer-bottom .page-inner {
      background-color: #191919; }

/*--------------------------------------------------------------
Responsive styles, General
--------------------------------------------------------------*/
footer.site-footer {
  background-color: #171717;
  min-height: 8em; }
