/**** BASE STYLES **********************/
/*--------------------------------------------------------------
1.0 Typefaces and Decoration 
--------------------------------------------------------------*/
p {
  font-size: 1.4em;
  color: #404040; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: inherit; }

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: inherit; }

p, li, a {
  font-family: "PT Serif", sans-serif;
  font-weight: 300;
  line-height: 2.5em; }

strong h1, strong h2, strong h3, strong h4, strong h5, strong h6 {
  font-weight: 400; }

li {
  list-style: none; }

h1 {
  margin-bottom: 1em; }

a {
  color: inherit;
  line-height: inherit; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit;
  line-height: inherit; }

.visible-links a {
  font-weight: 700; }

.visible-links-cherry a {
  color: #ab3228; }
.visible-links-cherry a:hover {
  color: #972c23; }

.visible-links-lilac a {
  color: #8630ad; }
.visible-links-lilac a:hover {
  color: #772a99; }

.visible-links-aqua a {
  color: #308ba0; }
.visible-links-aqua a:hover {
  color: #2a7a8c; }

@media (min-width: 768px) {
  .no-padding-left {
    padding-left: 0 !important; } }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.margin-left-15 {
  margin-left: 15px; }

.margin-right-15 {
  margin-right: 15px; }

/*--------------------------------------------------------------
2.0 Design
--------------------------------------------------------------*/
body #primary {
  background: #f2f2f2; }
body .separator {
  display: block;
  margin: 5em auto; }
body .body-inner {
  background-color: white; }
body .container-fluid {
  max-width: 1600px; }
body .btn-default {
  background-color: #eeeeee;
  border: #eeeeee;
  margin-bottom: 1em; }
body .btn-primary {
  color: #eeeeee;
  background-color: #c0382d;
  border-color: #6d201a; }
body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active,
body .btn-primary.active {
  color: white !important;
  background-color: #ab3228;
  border-color: #c0382d; }
body .btn-secondary {
  color: #eeeeee;
  background-color: #246979;
  border-color: #184752; }
body .btn-secondary:hover,
body .btn-secondary:focus,
body .btn-secondary:active,
body .btn-secondary.active {
  color: white;
  background-color: #1e5865; }
body .btn-tertiary {
  color: #eeeeee;
  background-color: #8630ad;
  border-color: #481a5d; }
body .btn-tertiary:hover,
body .btn-tertiary:focus,
body .btn-tertiary:active,
body .btn-tertiary.active {
  color: white;
  background-color: #672585;
  border-color: #8630ad; }
body .btn {
  margin-top: 1em;
  margin-bottom: 1em; }
body .modal-body {
  padding: 0 !important; }
body .lightbox-nav a {
  font-family: "Source Sans Pro", sans-serif !important; }
body .btn-group {
  background-color: #f2f2f2; }

/**** LAYOUT STYLES *****************/
header .navbar-container {
  background-color: #111111;
  opacity: 0.9;
  height: 5em;
  transition: all 0.7s ease-in; }
header nav .icon-bar {
  background-color: white; }
header nav h2 {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-top: 0.1em;
  transition: all 0.3s ease-in; }
header nav h2:hover {
  color: #cccccc; }
header nav ul li {
  font-size: 1.1em;
  margin-top: .5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  transition: all 0.3s ease-in; }
  header nav ul li a {
    color: white;
    font-family: 'Lato';
    border-radius: 4px;
    transition: all 0.3s ease-in;
    border: rgba(255, 255, 255, 0) solid 1px; }
  header nav ul li a:visited {
    color: white; }
  header nav ul li a:hover,
  header nav ul li a:focus {
    text-decoration: none;
    background-color: #d8d8d8;
    color: #262626;
    border: white solid 1px; }
header nav ul li.current-menu-item a {
  border: white solid 1px; }
header .navbar-container.opaque-thin {
  background-color: #f2f2f2;
  height: 3.2em;
  border-bottom: 1px solid black;
  transition: all 0.7s ease-in; }
  header .navbar-container.opaque-thin nav h2 {
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0.4em;
    margin: 0;
    margin-top: 0.4em;
    color: black;
    transition: all 0.7s ease-in; }
  header .navbar-container.opaque-thin nav ul li {
    font-size: 1.0em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding-top: 0em; }
    header .navbar-container.opaque-thin nav ul li a {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      color: #262626;
      transition: all 0.7s ease-in; }
    header .navbar-container.opaque-thin nav ul li a:hover,
    header .navbar-container.opaque-thin nav ul li a:focus {
      background-color: #404040;
      border: black solid 1px;
      color: white;
      transition: all 0.1s ease-in; }
  header .navbar-container.opaque-thin nav ul li.current-menu-item a {
    border: #404040 solid 1px; }
header nav.navbar .navbar-header {
  width: 100%; }
header nav.navbar .navbar-brand {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }
header nav.navbar a.navbar-brand {
  width: 100%; }
@media (max-width: 767px) {
  header .collapse.navbar-collapse.in {
    position: relative !important;
    background-color: black;
    transition: 2s; }
  header .background-container-header {
    display: none; }
  header h2 {
    float: left;
    padding-left: 0.4em; }
  header .navbar-fixed-top {
    position: absolute;
    top: auto; }
  header .navbar-collapse {
    max-height: none; }
  header body {
    margin: 0; }
  header .navbar-container {
    background-color: black; }
  header nav.navbar a.navbar-brand {
    width: initial; }
  header button.navbar-collapse,
  header button.navbar-toggle {
    margin-top: 1.3em; } }
@media (min-width: 768px) and (max-width: 992px) {
  header .navbar-container {
    height: 6em; }
  header nav h2 {
    font-size: 1.2em;
    padding-bottom: 0.4em;
    padding-top: 0.1em;
    margin: 0;
    margin-top: 0.4em;
    border-bottom: 1px solid white; }
  header nav a.navbar-brand {
    padding-bottom: 0;
    height: 0.3em; }
  header nav ul li {
    font-size: 1.0em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding-top: 1.9em; }
    header nav ul li a {
      margin-top: 1em;
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
  header .navbar-container.opaque-thin h2 {
    font-size: 1em;
    color: #111111;
    display: none; }
  header .navbar-container.opaque-thin ul li {
    font-size: 1.0em;
    margin-left: 0em;
    margin-right: 0em;
    transition: all 0.3s ease-in; }
    header .navbar-container.opaque-thin ul li a {
      margin-top: 0;
      color: #111111;
      border-radius: 4px;
      transition: all 0.3s ease-in; }
    header .navbar-container.opaque-thin ul li a:hover,
    header .navbar-container.opaque-thin ul li a:focus {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.9);
      color: #262626;
      transition: all 0.1s ease-in; } }
@media (min-width: 992px) {
  header .navbar-container.opaque-thin {
    background-color: #f2f2f2;
    height: 3.0em;
    border-bottom: 1px solid black;
    transition: all 0.7s ease-in; }
    header .navbar-container.opaque-thin nav ul li a {
      margin-top: 0.2em;
      transition: all 0.7s ease-in; } }

/*---------------
Front Page General
---------------------------------------*/
.front-page p, .front-page a {
  font-family: "Source Sans Pro"; }

/*---------------
 General
---------------------------------------*/
.module-body {
  background-color: #f2f2f2; }

.background-container {
  position: relative; }

.module-body-inner {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white; }

.module-header-inner {
  color: white;
  padding-left: 2em; }

p, a {
  font-size: 1.03em;
  line-height: 1.3em; }

/*--------------------------------------------------------------
Front Page Header
--------------------------------------------------------------*/
.front-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/joeys-snug-1-sepia.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
  .front-page .background-container .blurb {
    text-align: center;
    background: rgba(242, 242, 242, 0.8); }

/*--------------------------------------------------------------
Front Page News Module
--------------------------------------------------------------*/
.news-module .module-header {
  background-color: #2a7a8c; }
.news-module .module-header-inner {
  background-color: #246979; }
.news-module .module-body-inner {
  background-color: white; }
.news-module .item {
  margin-bottom: 1em; }
  .news-module .item .item-text p, .news-module .item .item-text a {
    margin-top: 1em; }
  .news-module .item .item-image-wrapper {
    background-color: #111111; }
  .news-module .item .item-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
.news-module .item:hover .item-image {
  opacity: 0.7; }
.news-module .item.item-1 {
  background-color: #2a7a8c; }
  .news-module .item.item-1 p, .news-module .item.item-1 h1, .news-module .item.item-1 h2, .news-module .item.item-1 h3, .news-module .item.item-1 h4, .news-module .item.item-1 h5, .news-module .item.item-1 h6 {
    color: white; }
  .news-module .item.item-1 .item-text {
    padding-left: 2em;
    padding-right: 2em; }
  .news-module .item.item-1 .item-image {
    height: 18em;
    background-position: bottom; }
.news-module .item.item-1:hover {
  background-color: #246979; }
.news-module .item.item-2 {
  background-color: #eeeeee;
  border-bottom: #2a7a8c 1px solid; }
  .news-module .item.item-2 .item-text {
    padding-left: 1em; }
  .news-module .item.item-2 .item-image {
    height: 10em;
    background-position: bottom;
    border-bottom: #2a7a8c 1px solid;
    margin-bottom: -1px; }
.news-module .item.item-2:hover {
  background-color: #d4d4d4; }
.news-module .item.item-3 {
  background-color: #2a7a8c;
  color: #f8f8f8; }
  .news-module .item.item-3 .item-text {
    padding-left: 2em;
    padding-right: 2em; }
  .news-module .item.item-3 .item-image {
    height: 7em;
    margin-bottom: 0.5em;
    background-position: bottom; }
.news-module .item.item-3:hover {
  background-color: #246979; }
.news-module .item.item-4 {
  background-color: #f8f8f8;
  border-bottom: #2a7a8c 1px solid; }
  .news-module .item.item-4 .item-text {
    padding-left: 1em;
    padding-right: 1em; }
    .news-module .item.item-4 .item-text h4 {
      margin-bottom: 1em; }
    .news-module .item.item-4 .item-text p {
      margin-top: 0;
      font-weight: 400; }
  .news-module .item.item-4 .item-image {
    height: 12em;
    margin-bottom: 0.5em;
    background-position: bottom; }
.news-module .item.item-4:hover {
  background-color: #dfdfdf; }
.news-module .image-section {
  margin-top: 1em; }
  .news-module .image-section img {
    text-align: center;
    width: 100%; }

/* Reponsive Styles */
@media (max-width: 767px) {
  .news-module .twitter-section {
    display: none; } }
/*--------------------------------------------------------------
Front Page Music Module
--------------------------------------------------------------*/
/* All Screens */
.music-module .module-header {
  background-color: #c0382d;
  color: #f8f8f8; }
  .music-module .module-header .module-header-inner {
    background-color: #ab3228; }
.music-module .module-body-inner {
  background-color: white; }
.music-module .item-image-wrapper {
  background-color: #111111;
  display: inline-block; }
.music-module .item:hover img {
  opacity: 0.7; }
.music-module .item-welcome .description {
  text-align: center; }
.music-module .events-sidebar .item {
  padding-right: 1em;
  margin-bottom: 1em; }
.music-module .events-sidebar .item:hover img {
  opacity: 0.7; }
.music-module .events-sidebar .item-header h3 {
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #f2f2f2; }
.music-module .events-sidebar .item-header.previous h3 {
  background-color: #fcf1f0; }
.music-module .item-upcoming-sidebar .item {
  background-color: #f2f2f2; }
.music-module .item-upcoming-sidebar .item:hover {
  background-color: #d8d8d8; }
.music-module .item-previous-sidebar .item {
  background-color: #fcf1f0; }
.music-module .item-previous-sidebar .item:hover {
  background-color: #f2cac7; }
.music-module .item-next-event {
  background-color: #ab3228;
  color: white; }
  .music-module .item-next-event .item-description {
    padding-left: 1em;
    padding-top: 2em; }
.music-module .item-next-event:hover {
  background-color: #82261e; }
.music-module .item-facilities-header {
  text-align: center; }
.music-module .item-facilities-items {
  padding-bottom: 1em;
  border-bottom: 1px solid #ab3228; }
  .music-module .item-facilities-items .item {
    background-color: #f2f2f2;
    padding-bottom: 0.5em; }
    .music-module .item-facilities-items .item h4 {
      text-align: center; }
  .music-module .item-facilities-items .item:hover {
    background-color: #d8d8d8; }
.music-module .contact-section {
  margin-top: 2em;
  background-color: #f2f2f2;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center; }
  .music-module .contact-section .item h4 {
    display: inline-block; }
  .music-module .contact-section .item button {
    float: right;
    width: 100%;
    font-weight: 300; }
.music-module .contact-section:hover {
  background-color: #d8d8d8; }
.music-module .social-buttons {
  text-align: center; }

/* Reponsive Styles */
@media (max-width: 767px) {
  .music-module .item-next-event {
    height: 18em; }
    .music-module .item-next-event .item-image {
      float: none; }
  .music-module .item-facilities-items .item {
    min-height: 12em; } }
@media (min-width: 768px) {
  .music-module .item-next-event {
    height: 23em; }
    .music-module .item-next-event .item-image {
      float: right; } }
@media (min-width: 992px) {
  .music-module .item-next-event {
    height: 18em; }
    .music-module .item-next-event .item-image {
      float: right; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .music-module .item-upcoming-sidebar .description,
  .music-module .item-previous-sidebar .description {
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em; } }
@media (min-width: 768px) and (max-width: 991px) {
  .music-module .item-next-event .item-description h3 {
    font-size: 2.4em; }
  .music-module .item-next-event .item-description h4 {
    font-size: 1.9em; }
  .music-module .item-next-event .item-description h5 {
    font-size: 1.6em; } }
@media (min-width: 1200px) {
  .music-module .item-upcoming-sidebar .description p {
    font-weight: 400; }
  .music-module .item-next-event {
    height: 21em; }
    .music-module .item-next-event .item-image {
      float: none; } }
/*--------------------------------------------------------------
Front Page Restaurant Module
--------------------------------------------------------------*/
.restaurant-module .module-header {
  background-color: #8630ad; }
  .restaurant-module .module-header .module-header-inner {
    background-color: #772a99; }

/*-----------------
Secondary page styles General
--------------*/
.secondary-page p {
  font-size: 1.3em;
  line-height: 2.3em; }
.secondary-page p:first-child {
  margin-top: 4em; }
.secondary-page p:first-child:first-letter {
  font-size: 3.0em;
  vertical-align: text-bottom; }
.secondary-page .fb-like {
  margin-top: 1em; }
.secondary-page .blurb {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em; }
  .secondary-page .blurb h2 {
    margin-bottom: 1em; }
  .secondary-page .blurb strong p,
  .secondary-page .blurb p {
    line-height: 1.1em;
    font-size: 1.2em; }
.secondary-page .background-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.secondary-page .module-body-inner {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white; }
.secondary-page .page-header h1, .secondary-page .page-header h2, .secondary-page .page-header h3, .secondary-page .page-header h4, .secondary-page .page-header h5, .secondary-page .page-header h6 {
  color: white;
  font-weight: 300; }
.secondary-page .page-header .title h1 {
  margin-bottom: 0.2em; }
.secondary-page .item-image-wrapper {
  background-color: #111111;
  display: inline-block; }
.secondary-page a img:hover {
  opacity: 0.8; }
.secondary-page .page-header-bottom h4 {
  font-family: "Source Sans Pro";
  font-weight: 200; }
.secondary-page .body-inner {
  padding-top: 30px;
  margin-bottom: 2em; }
.secondary-page img.featured-image {
  overflow: hidden;
  width: 100%; }
@media (max-width: 991px) {
  .secondary-page p {
    font-size: 1.2em; } }
@media (max-width: 767px) {
  .secondary-page p {
    font-size: 1.1em; } }

/*--------------------------------------------------------------
Events
--------------------------------------------------------------*/
.events .page-header-top {
  background-color: #c0382d; }
  .events .page-header-top .page-inner {
    background-color: #ab3228; }
.events .page-header-bottom {
  background-color: #ab3228; }
  .events .page-header-bottom .page-inner {
    background-color: #972c23; }
.events .social-buttons {
  border-bottom: #4d4d4d 1px dotted;
  padding-bottom: 1em; }

.events-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/man-singing-sepia.jpg");
  background-position: bottom; }
.events-page .filter a {
  color: #2b2b2b; }
.events-page .filter a:first-child {
  margin-top: 0; }
.events-page .filter a:last-child {
  border-bottom: #ab3228 solid 1px; }
.events-page .filter h3:first-child {
  margin-top: 0;
  margin-bottom: 2em; }
.events-page .filter h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.8em; }
.events-page .filter .btn-primary h4 {
  color: white; }
.events-page .sidebar-events {
  display: none; }

.events-section .item p {
  padding-left: 15px;
  padding-right: 15px; }
.events-section .item p:first-child {
  margin-top: 3em; }
.events-section .item .title {
  background-color: #972c23; }
  .events-section .item .title h2 {
    color: white;
    padding-left: 15px; }
.events-section .item h5.date {
  background-color: #f2f2f2;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 15px;
  border-bottom: #ab3228 solid 1px; }
.events-section .item div.image-title:hover .title {
  background: #82261e; }
.events-section .item div.image-title:hover img {
  opacity: 0.9; }

.events-single-page .featured-image {
  margin-top: 2em; }

/*--------------------------------------------------------------
Single Post Event 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
News  
--------------------------------------------------------------*/
.news .page-header-top {
  background-color: #2a7a8c; }
  .news .page-header-top .page-inner {
    background-color: #246979; }
.news .page-header-bottom {
  background-color: #246979; }
  .news .page-header-bottom .page-inner {
    background-color: #1e5865; }
.news .pagination > .active > a,
.news .pagination > .active > span,
.news .pagination > .active > a:hover,
.news .pagination > .active > span:hover,
.news .pagination > .active > a:focus,
.news .pagination > .active > span:focus {
  background-color: #2a7a8c;
  border-color: #246979; }
.news .news-item {
  margin-top: 2em; }
  .news .news-item p {
    padding-left: 15px;
    padding-right: 15px; }
  .news .news-item p:first-child {
    margin-top: 3em; }
  .news .news-item .title {
    background-color: #246979; }
    .news .news-item .title h2 {
      color: white;
      padding-left: 15px; }
  .news .news-item h5.date {
    background-color: #f2f2f2;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 15px;
    border-bottom: #2a7a8c solid 1px; }
  .news .news-item div.image-title:hover .title {
    background: #1e5865; }
  .news .news-item div.image-title:hover img {
    opacity: 0.9; }

.news-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/people-on-street-evening.jpg");
  background-position: top; }
.news-page .news-section img.featured-image {
  width: 100%; }
.news-page .sidebar-news {
  display: none; }

/*--------------------------------------------------------------
Restaurant Page
--------------------------------------------------------------*/
.restaurant-page .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/food-on-table.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
.restaurant-page .blurb {
  background-color: rgba(255, 255, 255, 0.6); }
.restaurant-page .page-header {
  border-bottom: none;
  border-top: none; }
  .restaurant-page .page-header h1, .restaurant-page .page-header h2, .restaurant-page .page-header h3, .restaurant-page .page-header h4, .restaurant-page .page-header h5, .restaurant-page .page-header h6 {
    color: white; }
.restaurant-page .page-header-top {
  background-color: #8630ad;
  margin-bottom: 0; }
  .restaurant-page .page-header-top .page-inner {
    background-color: #772a99; }
.restaurant-page .page-header-bottom {
  background-color: #772a99;
  margin-top: 0; }
  .restaurant-page .page-header-bottom .page-inner {
    background-color: #672585; }
.restaurant-page .page-body img {
  margin-top: 2em;
  margin-bottom: 2em; }
.restaurant-page .page-body h2 {
  margin-top: 2em;
  text-align: center; }
.restaurant-page .page-body p {
  text-align: center; }

/*--------------------------------------------------------------
Gallery Page
--------------------------------------------------------------*/
.gallery-page .page-header-top {
  background-color: #2a7a8c; }
  .gallery-page .page-header-top .page-inner {
    background-color: #246979; }
.gallery-page .page-header-bottom {
  background-color: #246979; }
  .gallery-page .page-header-bottom .page-inner {
    background-color: #1e5865; }
@media (max-width: 991px) {
  .gallery-page .filter {
    padding-right: 15px !important; } }
.gallery-page .filter a {
  color: #2b2b2b; }
.gallery-page .filter a:first-child {
  margin-top: 0; }
.gallery-page .filter a:last-child {
  border-bottom: #2a7a8c solid 1px; }
.gallery-page .filter h3:first-child {
  margin-top: 0;
  margin-bottom: 2em; }
.gallery-page .filter h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.8em; }
.gallery-page .filter .btn-secondary h4 {
  color: white; }
.gallery-page .album-meta-data {
  margin-bottom: 2em; }
  .gallery-page .album-meta-data h4 {
    background-color: #246979;
    color: white;
    margin-top: 0;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Source Sans Pro";
    line-height: 1.8em; }
  .gallery-page .album-meta-data h5 {
    border-bottom: #246979 solid 1px;
    padding-bottom: 1px;
    padding-bottom: 0.5em;
    padding-left: 15px;
    margin-bottom: 1px; }
.gallery-page .flickr .item {
  text-align: center; }
.gallery-page .flickr .item-description {
  display: inline-block;
  min-height: 280px; }
.gallery-page .flickr img {
  max-height: 220px;
  overflow: hidden; }
.gallery-page .flickr .item-description:hover h5 {
  background-color: #d9d9d9; }
.gallery-page .flickr .description {
  height: 3em; }
.gallery-page .flickr h5 {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0;
  padding-top: 1em;
  text-transform: capitalize;
  border-bottom: #308ba0 1px solid;
  background-color: #f2f2f2;
  color: black !important;
  font-family: "Source Sans Pro", sans-serif; }

/*--------------------------------------------------------------
Facilties Page
--------------------------------------------------------------*/
.facilities-page .icon {
  text-align: center; }
@media (max-width: 991px) {
  .facilities-page .item .description {
    margin-top: 2em; } }
.facilities-page .item .description p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0em;
  padding: 1em; }
.facilities-page .item .image h4 {
  background-color: #e6e6e6;
  margin-top: 0;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 0.2em; }
.facilities-page .page-header-top {
  background-color: #2a7a8c; }
  .facilities-page .page-header-top .page-inner {
    background-color: #246979; }
.facilities-page .page-header-bottom {
  background-color: #246979; }
  .facilities-page .page-header-bottom .page-inner {
    background-color: #1e5865; }
.facilities-page .bar .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/front-bar-b+w.jpg"); }
.facilities-page .bar .description {
  background-color: #246979; }
.facilities-page .bar h4 {
  border-bottom: #246979 1px solid; }
.facilities-page .smoking-area .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/smoking-area.jpg"); }
.facilities-page .smoking-area .module-header {
  background-color: #8630ad; }
  .facilities-page .smoking-area .module-header .module-header-inner {
    background-color: #772a99; }
.facilities-page .smoking-area .description {
  background-color: #672585; }
.facilities-page .smoking-area h4 {
  border-bottom: #672585 1px solid; }
.facilities-page .stage .background-container {
  background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/big-stage.jpg"); }
.facilities-page .stage .module-header {
  background-color: #c0382d; }
  .facilities-page .stage .module-header .module-header-inner {
    background-color: #ab3228; }
.facilities-page .stage .description {
  background-color: #972c23; }
.facilities-page .stage h4 {
  border-bottom: #972c23 1px solid; }

/*--------------------------------------------------------------
About Page
--------------------------------------------------------------*/
.about-page .page-header-top {
  background-color: #8630ad;
  margin-bottom: 0; }
  .about-page .page-header-top .page-inner {
    background-color: #772a99; }
.about-page .page-header-bottom {
  background-color: #772a99;
  margin-top: 0; }
  .about-page .page-header-bottom .page-inner {
    background-color: #672585; }

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
.sidebar .social-icons {
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 3em; }
.sidebar .section-header {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  padding-top: 1em;
  border-top: #666666 solid 1px; }
.sidebar .section-header:first-child h3:first-child {
  margin-top: 0; }
.sidebar .background-container-sidebar-item {
  background-color: #f2f2f2; }
.sidebar .item {
  margin-bottom: .5em;
  margin-top: 1.5em;
  padding-top: 1em;
  transition: all 0.5s; }
  .sidebar .item img {
    width: 100%; }
  .sidebar .item h4 {
    line-height: 1.8em; }
.sidebar .item:hover img {
  opacity: 0.7;
  transition: all 0.5s; }
.sidebar > h2 {
  margin-top: 2em;
  margin-bottom: 2em; }
.sidebar h5 {
  color: black; }

.sidebar.sidebar-events .section-header.background-container-sidebar-header {
  background-color: #f2f2f2; }
.sidebar.sidebar-events .background-container-sidebar-item {
  border-bottom: #ab3228 solid 1px; }
.sidebar.sidebar-events .item h3 {
  color: #ab3228; }

.sidebar.sidebar-news .section-header.background-container-sidebar-header {
  background-color: #f2f2f2; }
.sidebar.sidebar-news .background-container-sidebar-item {
  border-bottom: #2a7a8c solid 1px; }
.sidebar.sidebar-news .item h3 {
  color: #2a7a8c; }

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
  color: #f2f2f2; }
  footer .address {
    text-align: center; }
  footer .background-container {
    background-image: url("http://localhost:8888/wp-content/themes/hideout/images/backgrounds/beer-with-nuts-and-spectacles.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top; }
  footer .social-icons {
    text-align: center; }
    footer .social-icons img {
      margin-top: 1em;
      margin-bottom: 1em; }
  footer .page-footer-top {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0px;
    width: 100%; }
    footer .page-footer-top .page-inner {
      background-color: rgba(8, 8, 8, 0.6); }
  footer .page-footer-bottom {
    background-color: white; }
    footer .page-footer-bottom .page-inner {
      background-color: white; }

/*--------------------------------------------------------------
Responsive styles, General
--------------------------------------------------------------*/
@media (min-width: 992px) {
  .gallery-page .body-inner {
    min-height: 50em; } }
footer.site-footer {
  background-color: #171717;
  min-height: 8em; }
