              <div class="visible-md">
              <a href="{{event.link}}">
                <div class="item-image-wrapper">
                  <img src="{{event.featured_image.attachment_meta.sizes.sidebarimg.url}}">
                </div>
                <!-- <img src="{{event.featured_image.attachment_meta.sizes.sidebarimg.url}}"> -->
                <div class="description">
                  <h4>{{event.event_name}}</h4>
                  <h5>{{event.date_of_event | date: 'EEEE, d MMMM yyyy'}}</h5>
                </div>
              </a>
              </div> <!-- hidden lg -->

              <div class="hidden-md">
              <a href="{{event.link}}">
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-12 col-lg-7">
                  <div class="item-image-wrapper">
                    <img src="{{event.featured_image.attachment_meta.sizes.sidebarimg.url}}">
                  </div>
                  </div>
                  <div class="description col-xs-7 col-sm-7 col-md-12 col-lg-5">
                     <h3>{{event.event_name}}</h3>
                    <h4>{{event.date_of_event | date: 'EEEE, d MMMM yyyy'}}</h4>
                    <div ng-bind-html="event.event_description | limitTo: '100' "></div>
                  </div>
                </div>
                </a>
              </div> <!-- visible lg -->