// VARIABLE DECLARATIONS

// Colors

$black-dark:		#171717;
$white:					#fff;
$off-white:			#ddd;
$light-yellow:	#fff7d2;
$medium-yellow:	#ffe362;
$dark-yellow:		#f2cd23;

// Browns

$dark-brown:		#4c2f1a;
$medium-brown:	#734726;
$light-brown:		#9b5e31;

// Reds

$dark-red:			#6d2825;
$medium-red:		#943531;
$light-red:			#bc423c;

// Greens

// $dark-green:		#23692f;
// $medium-green:	#2f903f;
// $light-green: 	#3bb74f;

$dark-green:		#2b4c1a;
$medium-green:	#417326;
$light-green: 	#569b31;

// Greys

$dark-grey:			#1a1a1a;
$light-grey:		#434343;



// gold yello red scheme

$gold-1:   #ff7400;
$gold-2:   #bf7130;
$gold-3:   #a64b00;
$gold-4:   #ff9640;
$gold-5:   #ffb273;

$yellow-1:  #ff9e00;
$yellow-2:  #bf8830;
$yellow-3:  #a66600;
$yellow-4:  #ffb640;
$yellow-5:  #ffc973;

$red-1:     #ff2c00;
$red-2:     #bf4930;
$red-3:     #a61d00;
$red-4:     #ff6140;
$red-5:     #ff8b73; 

/**** BASE STYLES **********************/
/*--------------------------------------------------------------
1.0 Typefaces and Decoration 
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", serif;
}

p, li, a {
	font-family: "Lato", san-serif;
	line-height: 1.6em;
}

li {
	list-style: none;
}

// Margins

h1 {
		margin-bottom: 1em;
	}

/*--------------------------------------------------------------
2.0 Design
--------------------------------------------------------------*/

body {
	// background-color: $black-dark;
/* 	background-image: url('../images/pw_pattern.png');
	background-repeat: repeat; */
}

#primary {
	background: $white;
}



/**** LAYOUT STYLES *****************/


header {

	nav {
		h2 {
			font-size: 2.2em;
			text-transform: uppercase;
		}
	}

	.navbar-container {
		//background-color: rgba(250,250,250,0.3);
		//background-color: rgba(65,115,38,0.9);
		//background-color: $dark-grey;
		background-color: rgba(5,5,5,.9);

		
		height: 5em;
		transition: all 0.8s ease;

		ul li {
			font-size: 			1.5em;
			margin-top:			.5em;
			margin-left:		0.2em;
			margin-right:		0.2em;
			transition:			all 0.8s ease;

			a {
				color: $white;
				border-radius: 5px;

				transition: all 0.8s ease;

			}

			a:hover,
			a:focus {
			  text-decoration: none;
			  background-color: rgba(255,255,255,0.9);
			  color: $dark-grey;
			  border-radius: 5px;
			  transition: all 0.1s ease;
			}

		}

		ul li.current-menu-item {
			/* Place an underline under active menu */

			a:after {
				content:""; 
			  background: $white; 
			  position: absolute; 
			  bottom: 0; 
			  left: 15%; 
			  height: 2px; 
			  width: 70%;
			  transition: all 0.8s ease;

			}
		}

		h2 {
			font-family: "Oswald";
			font-style: 1.9em;
			color: $white;
			margin-top: 0;
			transition: all 0.8s ease;
		}

	}

	.navbar-container.opaque-thin {
		background-color: rgba(250,250,250,1.0);
		height: 3.5em;
		border-bottom: 1px solid black;
		transition: all 0.8s ease;

		ul li {
			font-size: 1.2em;
			margin-top: 0.1em;
			color: black;
			transition: all 0.8s ease;

			a {
				color: $dark-grey;
				height: 2.5em;
				padding-top: 0.7em;
				transition: all 0.8s ease;
			}

			a:hover,
			a:focus {
			  text-decoration: none;
			  background-color: rgba(0,0,0,0.9);
			  color: $white;
			  border-radius: 5px;
			  transition: all 0.1s ease;
			}

		}

		ul li.current-menu-item {
			/* Place an underline under active menu */

			a:after {
				content:""; 
			  background: $dark-grey; 
			  position: absolute; 
			  bottom: 10%; 
			  left: 15%; 
			  height: 2px; 
			  width: 70%;
			  transition: all 0.8s ease;

			}
		}

		h2 {
			font-size: 1.3em;
			color: $dark-grey;
			transition: all 0.8s ease;
		}
		
	}

	.navbar {
		margin-bottom: 0;
		background-color: rgba(1,1,1,0.0);
		border:	none;


		/*Put Brand in the center*/
		.navbar-brand {
			position: absolute;
		  width: 100%;
		  left: 0;
		  text-align: center;
		  margin: auto;
		}
		
	}



	.front-page-top-background {
		background-image: url('../images/stock-inside.jpg');
		
	  -webkit-background-size: cover;
		-moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		background-position: bottom;

		.front-page-top-message {
			text-align: center;
			//position: fixed;

			.message {
						//background-color: rgba(255,166,0,.4);
						background-color: rgba(40,40,40,.4);
						border-radius: 6px;
			}

			h1 {
				font-size: 5em;
				margin-bottom: 0.1em;
				color: $white;
			}

			h2 {
				font-size: 2.5em;
				color: $white;
			}

		}
	}

} 

/*--------------------------------------------------------------
Front Page Introduction
--------------------------------------------------------------*/

.introduction-module {
	background-color:		$white;

	p, h2, h3 {
		text-align: 				center;
	} 

	img {
		padding: 2em;
	}

	p {
		padding: 2em;
	}
}


/*--------------------------------------------------------------
Front Page News
--------------------------------------------------------------*/



.news-module {

	background-color: $gold-3;
	p, li, a, h1, h2, h3, h4, h5, h6 {
		color: $white;

	}

	.row {
		background-color: $gold-4;
	}

	.news-section {
		background-color: $gold-4;
		// max-height: 44em;

		.item {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			background-color: $gold-1;

			img {
				opacity: .8;
			}

			h3 {
				text-align: justify;
				font-size: 1.4em;
			}

			h6 {
				text-align: right;
			}


		}

		.item.item-topstory {
			h3 {
				font-size: 1.8em;
				text-align: justify;
			}
		}

		.item.item-bottom {
			background-color: $white;

			p, li, a, h1, h2, h3, h4, h5, h6 {
				color: $light-grey;
			}

		}

		.item.hovered {
			img {
				opacity: 1.0;
			}

			p, li, a, h1, h2, h3, h4, h5, h6 {
				color: $off-white;
			}
		}

		.item.item-bottom.hovered {
			p, li, a, h1, h2, h3, h4, h5, h6 {
				color: black;
			}

		}
	}



	.twitter-section {

		background-color: $off-white;
		// max-height: 44em;

		h1 {
			color: $dark-grey;
			text-align: center;
		}

		h2 {
			color:		$white;
			text-align: center;
		}

		.coming-up {
			background-color: $dark-grey;
			// padding-bottom: 100%;
			// padding-top: 100%;
		}

	}

}



	

/*--------------------------------------------------------------
Front Page Music Module
--------------------------------------------------------------*/

.music-module {
	
	background-color: $red-3;
	color: $white;

	h1, h2, h3, h4, h5, h6 {
			font-family: "Oswald";
			//font-family: "Berkshire+Swash";
			// font-family: "Merriweather";
			// font-family: "Lato";
			// font-family: "Playfair+Display";
			// font-family: "Oxygen";
			// font-family: "Quattrocento";

	}

	p, a, {
					// font-family: "Oswald";
			//font-family: "Berkshire+Swash";
			// font-family: "Merriweather";
			font-family: "Lato";
			// font-family: "Playfair+Display";
			// font-family: "Oxygen";
			// font-family: "Quattrocento";

	}

	.medium-background-color {
		background-color: $red-2;
	}

	.dark-text {
		color: $red-3;
	}

	.light-text {
		color: $white;
	}


	.music-module-header {
		background-color: $red-4;
		height: 8em;


		h1 {
			margin-top: 1em;
		}

		h3 {
			margin-top: 2em;
			color: $dark-grey
		}

	}

	.music-module-icon {
		background-color: $white;
		height: 5em;
	}
	.music-module-byline {
		background-color: $red-3;
		height: 5em;
	}
	.music-module-blurb {
		background-color: $red-1;
		height: 20em;

		h2 {
			margin-bottom: 1em;
		}

	}

	.music-module-upcoming-event-maxi {

	  height: 25em;
  	display: block;
  	position: relative;


	
		h1, h5 {
			text-align: center;

		}

		h1 {
			margin-top: 1em;
			font-size: 6em;
		}
	}

	.music-module-upcoming-event-maxi::after {
  content: "";
  background-image: url('../images/u2-band.jpg');
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;  
	}

	.music-module-upcoming-event-maxi:hover::after {

	opacity: 0.7;
  -webkit-transition: opacity 1.0s ease-in-out;
  -moz-transition: opacity 1.0s ease-in-out;
  transition: opacity 1.0s ease-in-out;

	}

	.music-module-upcoming-banner {
		// background-color: $light-grey;
		background-color: $light-grey;
		height: 8em;

		h2 {
			margin-top: 1.2em;
			
		}

	}	

	.music-module-upcoming-event-mini {
		// border: 1px solid $dark-grey;
		height: 8em;
		max-height: 8em;
		overflow: hidden;
		// color: $dark-grey;

		h3 {
			margin-top: .5em;
		}

		.unit {
			height: 8em;
		}

		.unit::after {
			content: "MORE";
			font-size: 1.5em;
			font-family: "Oswald";
			padding: .4em .1em 0 .4em;
			position: absolute;
			background-color: $dark-grey;
			bottom: 0;
			right: 0;

		}

		.unit.unit-2 h4,
		.unit.unit-3 h4 {
			margin-top: .8em;
		}
	}

}

/*--------------------------------------------------------------
Front Page Food Module
--------------------------------------------------------------*/

.food-module {

	background-color: $white;
	//color: $white;
	.module-header {
		background-color: $yellow-2;


	}
}


/*--------------------------------------------------------------
Events Page
--------------------------------------------------------------*/

.events-page {

	.page-header {

		border-bottom: none;
		border-top: none;

		 h1, h2, h3, h4, h5, h6 {
			color: $white;
		}
	}
	.page-header-top {

		background-color: $red-3;
		margin-top: 15em;
		margin-bottom: 0;
	}

	.page-header-bottom {
		background-color: $red-4;
		margin-top: 0;
	}


}

/*--------------------------------------------------------------
Blog Page
--------------------------------------------------------------*/

.blog-page {

	.page-header {

		border-bottom: none;
		border-top: none;

		 h1, h2, h3, h4, h5, h6 {
			color: $white;
		}
	}
	.page-header-top {

		background-color: $gold-3;
		margin-top: 15em;
		margin-bottom: 0;
	}

	.page-header-bottom {
		background-color: $gold-4;
		margin-top: 0;
	}


}



@media (min-width: 768px) {

}
	


footer.site-footer {
	background-color: $black-dark;
	min-height: 8em;
}