// VARIABLE DECLARATIONS

// Colors

$black-dark: #111;


/**** BASE STYLES **********************/
/*--------------------------------------------------------------
1.0 Typefaces
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato";
}

p {
	font-family: "Merriweather";
}


/**** LAYOUT STYLES *****************/


header {
	background-color: $black-dark;
}

header .navbar {
	min-height: 8em;
}

header nav.navbar-inverse {
	background-color: $black-dark;
	border: none;
}

header a.navbar-brand {
	//text-transform: uppercase;
}

header h2 {
	font-family: "Berkshire Swash";
	font-size: 2.5em;
	margin-top: .6em;

}

header ul.nav.navbar-nav {
	margin-top: 3em;
}


div.entry-content h1 {
	font-weight: 700;

}