// VARIABLE DECLARATIONS

// Colors

$black-dark:		#171717;
$white:					#fff;
$yellow-weak:		#fff7d2;
$yellow-medium:	#ffe362;
$yellow-strong:	#f2cd23;

// Browns

$dark-brown:		#4c2f1a;
$medium-brown:	#734726;
$light-brown:		#9b5e31;

// Greys

$dark-grey:			#1a1a1a;
$light-grey:		#434343;

/**** BASE STYLES **********************/
/*--------------------------------------------------------------
1.0 Typefaces and Decoration 
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", san-serif;
}

p {
	font-family: "Merriweather", san-serif;
}

li {
	list-style: none;
}

// Margins

h1 {
		margin-bottom: 1em;
	}

/*--------------------------------------------------------------
2.0 Design
--------------------------------------------------------------*/

body {
	background-color: $black-dark;
/* 	background-image: url('../images/pw_pattern.png');
	background-repeat: repeat; */
}

#primary {
	background: $white;
}

/* #sidebar {
	background: $black-dark;
} */
/**** LAYOUT STYLES *****************/


header {
	background-color: $black-dark;
}

header .navbar {
	min-height: 8em;
}

header nav.navbar-inverse {
	background-color: $black-dark;
	border: none;
}

header .navbar-inverse .navbar-nav>.active>a,
header .navbar-inverse .navbar-nav>.active>a:hover,
header .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: $black-dark;
}
header a.navbar-brand {
}

header h2 {
	font-family: "Berkshire Swash", serif;
	font-size: 1.5em;
	margin-top: 1.3em;
	color: $yellow-weak;


}

header h2:hover {
	color: $yellow-medium;
}

header h2:active {
	color: $yellow-strong;
}

#banner {
	min-height: 40em;
	background-image: url('../images/stock-inside.jpg');
	background-size: cover;
	background-position: bottom;
}

#banner h2 {
	text-align: center;
	margin-top: 0;
	padding-top: 5em;
	color: $yellow-weak;
	font-family: "Oswald";
}

div.metaslider {
	margin-top: 2em;
}
div.entry-content h1 {
	font-weight: 700;

}

#sidebar h2 {
	text-align: center;
}

#sidebar li > ul {
	margin-left: 0;
}

footer.site-footer {
	background-color: $black-dark;
	min-height: 8em;
}


/*--------------------------------------------------------------
Front Page Music Module
--------------------------------------------------------------*/

.music-module {
	
	background-color: $dark-brown;
	color: $white;

	h1, h2, h3, h4, h5, h6 {
			font-family: "Oswald";
			//font-family: "Berkshire+Swash";
			// font-family: "Merriweather";
			// font-family: "Lato";
			// font-family: "Playfair+Display";
			// font-family: "Oxygen";
			// font-family: "Quattrocento";

	}

	p, a, {
					// font-family: "Oswald";
			//font-family: "Berkshire+Swash";
			// font-family: "Merriweather";
			font-family: "Lato";
			// font-family: "Playfair+Display";
			// font-family: "Oxygen";
			// font-family: "Quattrocento";

	}


	.music-module-header {
		background-color: $light-brown;
		height: 8em;

		h1 {
			margin-top: 1em;
		}

	}

	.music-module-icon {
		background-color: $white;
		height: 5em;
	}
	.music-module-byline {
		background-color: $medium-brown;
		height: 5em;
	}
	.music-module-blurb {
		background-color: $dark-grey;
		height: 20em;

	}

	.music-module-upcoming-act {

	  height: 25em;
  	display: block;
  	position: relative;

	
		h1, h5 {
			text-align: center;

		}

		h1 {
			margin-top: 2em;
		}
	}

	.music-module-upcoming-act::after {
  content: "";
  background-image: url('../images/u2-band.jpg');
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;  
	}

	.music-module-upcoming-banner {
		background-color: $light-grey;
		height: 8em;

		h2 {
			margin-top: 1.2em;
			
		}

	}	

	.music-module-upcoming-event-list {
		p:first-child {
			margin-top: 1.2em;
		}
	}

	
}
/*--------------------------------------------------------------
Events Page
--------------------------------------------------------------*/

.events-page {
	h1 {

	}
}
@media (min-width: 768px) {
	header ul.nav.navbar-nav {
	margin-top: 3em;
	}
}
	